html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fdf6fa;
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* portrait */
  min-height: 100vh;
  padding: 14px;
}

/* hover lucu */
.mini-box:hover {
  background: #fdeaf4;
  transition: 0.3s;
}

/* CONTAINER – portrait panjang */
.container {
  width: 100%;
  max-width: 390px;          /* ukuran HP portrait */
  min-height: 100vh;         /* bikin panjang */
  background: #fff;
  border: 2px solid #f1d6e8;
  border-radius: 16px;
  padding: 16px;
}

/* TOPBAR */
.topbar {
  background: #fdeaf4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 13px;
}

/* PROFILE */
.profile {
  display: flex;
  gap: 10px;
  margin-top: 14px;
}

.profile-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 14px;
  border: 2px dashed #f0b7d5;
}

.profile-info h2 {
  margin: 0;
  font-size: 18px;
}

.profile-info p {
  font-size: 13.5px;
  line-height: 1.5;
}

.profile-info button {
  margin-top: 8px;
  padding: 6px 12px;
  background: #fdeaf4;
  border: 1px solid #f0b7d5;
  border-radius: 12px;
  cursor: pointer;
}

/* HELLO BOX – nempel & seimbang */
.likes {
  align-self: center;
  transform: translateY(-4px);
}

.likes .mini-box {
  background: #fff;
  border: 2px dashed #f3b6c8;
  padding: 14px;
  border-radius: 16px;
  font-size: 13.5px;
  line-height: 1.7;
  margin-top: 0;
}

/* RULES */
.rules {
  display: flex;
  flex-direction: column; /* portrait */
  gap: 12px;
  margin-top: 14px;
}

.rule-box {
  width: 100%;
  border: 1px dashed #f0b7d5;
  border-radius: 14px;
  padding: 12px;
  font-size: 13.5px;
  line-height: 1.6;
}

/* LISTS */
.lists {
  display: flex;
  flex-direction: column; /* portrait */
  gap: 12px;
  margin-top: 14px;
}

.list-box {
  border: 1px dashed #f0b7d5;
  border-radius: 14px;
  padding: 10px;
  font-size: 13.5px;
  text-align: center;
}

/* FOOTER */
.footer {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.footer button {
  background: #fdeaf4;
  border: 1px solid #f0b7d5;
  border-radius: 14px;
  padding: 8px 20px;
  cursor: pointer;
}
